$main: #5cc05f;

* {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
}

html,
body {
  margin: 0;
  font-size: 1vw;
}

body {
  align-items: center;
  background: #000;
  color: $main;
  display: flex;
  flex: 1;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  padding: 0.5vw;
  text-shadow: 0 0 10px $main, 0 0 0.5px $main, 0 0 1px darken($main, 10%), 0 0 1.5px darken($main, 15%), 0 0 2px darken($main, 20%);
}

p {
  font-size: 1.5vw;
  letter-spacing: 200%;
  line-height: 200%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 635px) {
    font-size: 14px;
  }
}
