$main: #479BC3;

@font-face {
  font-family: 'nostromo';
  src: url('fonts/NostromoRegular-Medium.eot');
  src: url('fonts/NostromoRegular-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/NostromoRegular-Medium.woff2') format('woff2'),
      url('fonts/NostromoRegular-Medium.woff') format('woff'),
      url('fonts/NostromoRegular-Medium.ttf') format('truetype'),
      url('fonts/NostromoRegular-Medium.svg#NostromoRegular-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  min-height: 100%;
}

html,
body {
  margin: 0;
  font-size: 1vw;
}

body {
  align-items: center;
  background: #000;
  color: $main;
  display: flex;
  flex: 1;
  font-family: 'nostromo', arial;
  font-smooth: never;
  justify-content: center;
  padding: 0.5vw;
  text-shadow: 0 0 10px $main, 0 0 0.5px $main, 0 0 1px darken($main, 10%), 0 0 1.5px darken($main, 15%), 0 0 2px darken($main, 20%);
}

p {
  font-size: 1.5vw;
  letter-spacing: 200%;
  line-height: 200%;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 635px) {
    font-size: 14px;
  }
}

.app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.flex {
  display: flex;

  &.center {
    align-items: center;
  }

  &.jcenter {
    justify-content: center;;
  }

  &.no-grow {
    flex-grow: 0;
  }

  &.jend {
    justify-content: flex-end;
  }
}
